a.card {
  text-decoration: none;
  color: var(--text-color);

  &:hover,
  &:focus {
    color: var(--text-color);

    .card__title {
      color: var(--primary);
    }
  }
}

a.card__title {
  text-decoration: none;
  color: var(--text-color);

  &:hover,
  &:focus {
    color: var(--primary);
  }
}

.card {
  $self: &;

  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: calc(10 / var(--fz) * var(--fz-em));
  color: var(--text-color);

  @media (min-width: 1100px) {
    gap: calc(20 / var(--fz) * var(--fz-em));
  }

  &--medium {
    padding: calc(20 / var(--fz) * var(--fz-em));

    @media (min-width: 1100px) {
      padding: calc(40 / var(--fz) * var(--fz-em));
    }
  }

  &--large {
    gap: calc(20 / var(--fz) * var(--fz-em));

    @media (min-width: 1100px) {
      gap: calc(40 / var(--fz) * var(--fz-em));
    }
  }

  &--bg {
    background: var(--card-bg);
    padding-bottom: calc(20 / var(--fz) * var(--fz-em));
  }

  &--custom-bg {
    padding: calc(20 / var(--fz) * var(--fz-em));

    @media (min-width: 1100px) {
      padding: calc(40 / var(--fz) * var(--fz-em));
    }

    &.card--large {
      @media (min-width: 1100px) {
        padding: calc(60 / var(--fz) * var(--fz-em));
      }
    }
  }

  &--custom-gap {
    @media (min-width: 960px) {
      gap: calc(67 / var(--fz) * var(--fz-em));
    }
  }

  &--image-decor {
    min-height: calc((var(--card-image-decor-size) + 10) / var(--fz) * var(--fz-em));
  }

  &--bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    background-color: var(--card-bg-dark);

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;
      background: radial-gradient(50% 50% at 50% 50%, rgba(51, 51, 51, 0) 61.94%, #333333 100%);
    }
  }

  &--horizontal {
    flex-direction: row;
  }

  &--bordered {
    border: 1px solid var(--primary);
    padding: calc(20 / var(--fz) * var(--fz-em));
  }

  &--centered {
    align-items: center;
    text-align: center;
  }

  &--hover {
    @media (min-width: 960px) {
      position: relative;
      transition: z-index 0.15s ease;

      &:hover {
        z-index: 4;
      }
    }
  }

  &__additional {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: calc(100% + (40 / var(--fz) * var(--fz-em)));
    left: calc(-20 / var(--fz) * var(--fz-em));
    top: calc(-20 / var(--fz) * var(--fz-em));
    box-shadow: 0px 4px calc(20 / var(--fz) * var(--fz-em)) rgba(0, 0, 0, 0.15);
    background-color: var(--z-white);
    min-height: 100%;
    padding-top: calc(100% + (35 / var(--fz) * var(--fz-em)));
    padding-bottom: calc(20 / var(--fz) * var(--fz-em));
    padding-left: calc(20 / var(--fz) * var(--fz-em));
    padding-right: calc(20 / var(--fz) * var(--fz-em));
    transition: 0.15s ease;
    color: var(--meaning);

    .card--large-image & {
      padding-top: calc(100% + (95 / var(--fz) * var(--fz-em)));
    }

    &>* {
      line-height: 1.5;
      margin-top: calc(5 / var(--fz) * var(--fz-em));
    }

    .card--hover:hover & {
      @media (min-width: 960px) {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__tags-container {
    display: flex;
    gap: calc(10 / var(--fz) * var(--fz-em));
    max-width: calc(500 / var(--fz) * var(--fz-em));
    padding-top: calc(40 / var(--fz) * var(--fz-em));
    padding-bottom: calc(40 / var(--fz) * var(--fz-em));
  }

  &__labels {
    position: absolute;
    z-index: 2;
    top: calc(10 / var(--fz) * var(--fz-em));
    left: calc(10 / var(--fz) * var(--fz-em));
    width: calc(100% - 20 / var(--fz) * var(--fz-em));
    overflow: hidden;
    white-space: nowrap;

    #{$self}--bordered & {
      position: static;
      top: auto;
      left: auto;
      margin-top: calc(-10 / var(--fz) * var(--fz-em));
      margin-left: calc(-10 / var(--fz) * var(--fz-em));
    }
  }

  &__favorite {
    position: absolute;
    z-index: 2;
    top: calc(20 / var(--fz) * var(--fz-em));
    right: calc(20 / var(--fz) * var(--fz-em));
  }

  &__favorite+&__labels {
    width: calc(100% - 75 / var(--fz) * var(--fz-em));
    top: calc(20 / var(--fz) * var(--fz-em));
    left: calc(20 / var(--fz) * var(--fz-em));
  }

  &__image {
    background-color: var(--card-bg);
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    height: 0;
    z-index: 1;

    #{$self}--image-decor & {
      background-color: transparent;
      position: absolute;
      top: 0;
      right: 0;
      width: calc(var(--card-image-decor-size) / var(--fz) * var(--fz-em));
      padding-bottom: calc(var(--card-image-decor-size) / var(--fz) * var(--fz-em));
    }

    #{$self}--horizontal & {
      flex-shrink: 0;
      max-width: calc(78 / var(--fz) * var(--fz-em));
      flex-basis: calc(78 / var(--fz) * var(--fz-em));
      padding-bottom: calc(78 / var(--fz) * var(--fz-em));
    }

    #{$self}--horizontal-large & {
      flex-shrink: inherit;
      max-width: 50%;
      flex-basis: 50%;
      padding-bottom: calc(50% - 10px);
    }

    &--vertical {
      @media(min-width: 960px) {
        padding-bottom: 120%;
      }
    }

    &--horizontal {
      .slider--gallery & {
        padding-bottom: 48.4%;
      }

      @media(min-width: 960px) {
        padding-bottom: 45%;
      }
    }

    .bricks-card-list .card--large-image & {
      @media (min-width: 960px) {
        padding-bottom: 100%;
        flex-grow: 1;
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    & img {
      position: absolute;
      object-fit: contain;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .slider--gallery & {
        object-fit: cover;
      }
    }
  }

  &__icon {
    & .icon {
      color: var(--primary);
      width: calc(82 / var(--fz) * var(--fz-em));
      height: calc(82 / var(--fz) * var(--fz-em));
    }
  }

  &__body {
    position: relative;
    z-index: 3;
    transition: z-index 0.15s ease;

    &--auto-top {
      margin-top: auto;
    }

    #{$self}--bg & {
      padding: 0 calc(20 / var(--fz) * var(--fz-em));
    }

    #{$self}--horizontal-large & {
      flex-basis: 50%;
      max-width: 50%;
      display: flex;
      flex-direction: column;
    }

    .card--hover:hover & {
      @media (min-width: 960px) {
        z-index: 0;
      }
    }
  }

  &__title {
    --fz: 14;

    font-weight: 400;
    line-height: 1.5;
    color: var(--card-title-color);
    transition: color 0.2s linear;
    font-size: calc(var(--fz)/ var(--fz-base) * var(--fz-em));

    &--large {
      --fz: 24;

      line-height: 1.2;
      font-family: var(--font-title);
      color: var(--card-title-color-large);

      #{$self}--custom-bg & {
        --fz: 32;
        text-transform: uppercase;
      }
    }

    &--large-dark {
      --card-title-color-large: var(--text-color)
    }

    &--extra-large {
      --fz: var(--h2);

      line-height: 1.2;
      font-family: var(--font-title);
      text-transform: uppercase;
      padding-right: calc(60 / var(--fz) * var(--fz-em));
      min-height: calc(60 / var(--fz) * var(--fz-em));

      @media (min-width: 1100px) {
        min-height: calc(90 / var(--fz) * var(--fz-em));
      }

      .card--centered & {
        padding: 0;
        min-height: auto;

        @media (min-width: 1100px) {
          padding: 0 calc(180 / var(--fz) * var(--fz-em));
        }
      }
    }

    &--h1 {
      --fz: 20;

      line-height: 1.2;
      font-family: var(--font-title);
      text-transform: uppercase;

      @media (min-width: 1100px) {
        --fz: var(--h1);
      }
    }
  }

  &__info {
    margin-top: calc(5 / var(--fz) * var(--fz-em));

    #{$self}--bordered &,
    #{$self}--custom-bg & {
      margin-top: calc(20 / var(--fz) * var(--fz-em));
    }

    &--large {
      margin-top: calc(40 / var(--fz) * var(--fz-em));
    }
  }

  &__text {
    --fz: 14;

    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));

    #{$self}--custom-bg & {
      --fz: 18;

      font-family: var(--font-title);
      line-height: 1.2;

      @media (min-width: 1100px) {
        --fz: 24;
      }
    }
  }

  &__btn {
    margin-top: calc(20 / var(--fz) * var(--fz-em));
  }

  &__btn-list {
    display: flex;
    flex-direction: column;
    gap: calc(10 / var(--fz) * var(--fz-em));
    margin-top: calc(30 / var(--fz) * var(--fz-em));
  }

  &__link {
    margin-top: auto;

    & .link {
      display: inline-block;
      margin-top: calc(35 / var(--fz) * var(--fz-em));
    }
  }

  &__footer {
    margin-top: auto;
    position: relative;
    z-index: 1;

    .btn {
      #{$self}--bordered & {
        width: 100%;
      }

      #{$self}--custom-bg & {
        min-width: calc(217 / var(--fz) * var(--fz-em));
      }
    }
  }
}

.label-list {
  display: flex;
  gap: calc(5 / var(--fz) * var(--fz-em));

  &--large {
    gap: calc(10 / var(--fz) * var(--fz-em));
  }

  &__item {
    background-color: var(--primary);
    color: var(--z-white);
    padding: calc(4 / var(--fz) * var(--fz-em)) calc(6 / var(--fz) * var(--fz-em));

    &--free {
      background-color: transparent;
      margin-left: auto;

      & .icon {
        width: calc(60 / var(--fz) * var(--fz-em));
        height: calc(60 / var(--fz) * var(--fz-em));
        margin-top: calc(20 / var(--fz) * var(--fz-em));

        @media (min-width: 1100px) {
          width: calc(82 / var(--fz) * var(--fz-em));
          height: calc(82 / var(--fz) * var(--fz-em));
          margin-top: 0;
        }
      }
    }

    .label-list--large & {
      padding: calc(8 / var(--fz) * var(--fz-em)) calc(12 / var(--fz) * var(--fz-em));
    }

    >span {
      --fz: 14;

      display: block;
      line-height: 1.3;
      font-size: calc(var(--fz)/ var(--fz-base) * var(--fz-em));
    }
  }
}

.card-tags {
  margin-left: 0;
  gap: calc(10 / var(--fz) * var(--fz-em));

  &::before {
    display: none;
  }

  &__item {
    padding-left: 0;
  }
}