.tabs {
  $self: &;

  &__nav {
    margin-left: 0;
    gap: calc(10 / var(--fz) * var(--fz-em));

    #{$self}--large & {
      gap: calc(20 / var(--fz) * var(--fz-em));

      @media (min-width: 1100px) {
        gap: calc(40 / var(--fz) * var(--fz-em));
      }
    }
  }

  &__item {
    padding-left: 0;
  }

  &__link {
    #{$self}__nav #{$self}__item & {
      font-size: inherit;
      background-color: transparent;
      padding: 0;

      #{$self}--large & {
        --header-color: var(--primary);

        position: relative;
        color: var(--header-color);
        padding-bottom: calc(10 / var(--fz) * var(--fz-em));
      }

      &::before {
        #{$self}--large & {
          content: '';
          background-color: transparent;
          position: absolute;
          width: 0;
          height: 1px;
          bottom: 0;
          left: 0;
          transition: 0.2s linear;
        }
      }
    }

    #{$self}__nav #{$self}__item.uk-active & {
      cursor: default;

      #{$self}--large & {
        --header-color: var(--text-color);

        background-color: transparent;
      }

      &::before {
        #{$self}--large & {
          width: 100%;
          background-color: var(--border-color);
          transition: 0.4s linear;
        }
      }
    }
  }

  &__container {
    margin-top: calc(30 / var(--fz) * var(--fz-em));
  }
}