<div id="modal-added-to-cart" uk-modal>
  <div class="modal modal--large uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <div class="modal__header">
      <h2 class="modal__title">Товар добавлен в корзину</h2>
      <button class="modal__close uk-modal-close" type="button"></button>
    </div>
    <div class="modal__body">
      <section uk-grid class="uk-grid-small section section--border section--border-bottom">
        <article class="card card--horizontal card--horizontal-large">
          <div class="card__image">
            <div class="card__img">
              <img src="./decor/7.png" alt="product">
            </div>
          </div>
          <div class="card__body">
            <div class="card__title">Светильник подвесной металлический в форме купола Campana средний черный
            </div>
            <div class="card__info">
              <div class="price">
                <span class="price__unit price__unit--through">48 980 ₽</span>
                <span class="price__unit">26 780 ₽</span>
              </div>
            </div>
            <div class="card__button">
              <a class="btn btn--primary uk-width-1-1" role="button">
                <span>Оформить заказ</span>
              </a>
              <a class="btn btn--secondary uk-width-1-1" role="button">
                <span>Купить в 1 клик</span>
              </a>
            </div>
            <div class="card__link">
              <a href="#" class="link link--bordered">Продолжить покупки</a>
            </div>
          </div>
        </article>
      </section>
      <section class="section uk-section">
        <div class="modal__header">
          <h2 class="modal__title">Вас может заинтересовать</h2>
        </div>
        <div class="section__body">
          <div uk-slider class="slider">
            <div class="uk-position-relative uk-light" tabindex="-1">
              <ul class="slider__list uk-grid uk-grid-small uk-slider-items">
                <li class="slider__item uk-width-5-6 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
                  <a href="#" class="card">
                    <div class="card__image">
                      <div class="card__img">
                        <img src="./decor/2.png" alt="product">
                      </div>
                    </div>
                    <div class="card__body">
                      <div class="card__title">Торшер Rondo 450*2300</div>
                      <div class="card__info">
                        <div class="price">
                          <span class="price__unit">26 780 ₽</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="slider__item uk-width-5-6 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
                  <a href="#" class="card">
                    <div class="card__image">
                      <div class="card__img">
                        <img src="./decor/2.png" alt="product">
                      </div>
                    </div>
                    <div class="card__body">
                      <div class="card__title">Торшер Rondo 450*2300</div>
                      <div class="card__info">
                        <div class="price">
                          <span class="price__unit">26 780 ₽</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="slider__item uk-width-5-6 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
                  <article class="card">
                    <div class="card__labels">
                      <ul class="label-list">
                        <li class="label-list__item">
                          <span>Скидка</span>
                        </li>
                      </ul>
                    </div>
                    <div class="card__image">
                      <div class="card__img">
                        <img src="./decor/3.png" alt="product">
                      </div>
                    </div>
                    <div class="card__body">
                      <div class="card__title">Торшер Rondo 450*2300</div>
                      <div class="card__info">
                        <div class="price">
                          <span class="price__unit price__unit--through">46 780 ₽</span>
                          <span class="price__unit">26 780 ₽</span>
                        </div>
                      </div>
                    </div>
                  </article>
                </li>
                <li class="slider__item uk-width-5-6 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
                  <article class="card">
                    <div class="card__image">
                      <div class="card__img">
                        <img src="./decor/4.png" alt="product">
                      </div>
                    </div>
                    <div class="card__body">
                      <div class="card__title">Торшер Rondo 450*2300</div>
                      <div class="card__info">
                        <div class="price">
                          <span class="price__unit">26 780 ₽</span>
                        </div>
                      </div>
                    </div>
                  </article>
                </li>
                <li class="slider__item uk-width-5-6 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
                  <article class="card">
                    <div class="card__image">
                      <div class="card__img">
                        <img src="./decor/5.png" alt="product">
                      </div>
                    </div>
                    <div class="card__body">
                      <div class="card__title">Торшер Rondo 450*2300</div>
                      <div class="card__info">
                        <div class="price">
                          <span class="price__unit">26 780 ₽</span>
                        </div>
                      </div>
                    </div>
                  </article>
                </li>
              </ul>
            </div>
            <ul class="slider__nav uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium"></ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>