<div id="modal-form" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <h2 class="uk-h3">Запланировать сессию</h2>
    <button class="modal-close uk-modal-close" type="button"></button>
    <form action="" class="form">
      <div class="form__body">
        <div class="form__item">
          <div class="input input--error">
            <input type="text" class="input__field" placeholder="Ваше имя">
          </div>
        </div>
        <div class="form__item">
          <div class="input">
            <input type="text" class="input__field" placeholder="Ваш телефон">
          </div>
        </div>
        <div class="form__item">
          <div class="input input--textarea">
            <textarea type="text" class="input__field scrollbar" placeholder="Знакомство"></textarea>
          </div>
        </div>
        <div class="form__item">
          <div class="form__btn">
            <a class="btn btn--icon uk-width-1-1" href="#" role="button">
              <span>Запланировать</span>
            </a>
          </div>
        </div>
        <div class="form__item">
          <label class="checkbox checkbox--confirm">
            <div class="checkbox__label">
              <input type="checkbox" class="checkbox__input" value="3">
              <span class="checkbox__mark"></span>
            </div>
            <div class="checkbox__text">
              Нажимая на кнопку вы соглашаетесь с <a href="#" class="link">политикой конфиденциальности</a>
            </div>
          </label>
        </div>
      </div>
    </form>
  </div>
</div>