<div class="services-list">
  <div class="services-list__item">
    <a href="#" class="services-list__icon link link--icon-only">
      {{mixins.icon('search')}}
      <span class="link">Поиск</span>
    </a>
  </div>
  <div class="services-list__item">
    <a href="#" class="services-list__icon link link--icon-only">
      {{mixins.icon('favorite')}}
      <span class="link">Избранное</span>
    </a>
  </div>
  <div class="services-list__item">
    <a href="#" class="services-list__icon link link--icon-only">
      {{mixins.icon('user')}}
      <span class="link">Личный кабинет</span>
    </a>
  </div>
</div>