<div class="services-list">
  <div class="services-list__item">
    <a href="#" class="services-list__icon link link--icon-only">
      {{mixins.icon('search')}}
    </a>
  </div>
  <div class="services-list__item">
    <a href="#" class="services-list__icon link link--icon-only">
      {{mixins.icon('favorite')}}
    </a>
  </div>
  <div class="services-list__item">
    <a href="#" class="services-list__icon link link--icon-only">
      {{mixins.icon('user')}}
    </a>
  </div>
  <div class="services-list__item">
    <a href="#" class="services-list__icon link link--icon-only">
      {{mixins.icon('cart')}}
    </a>
    <span class="uk-badge">1</span>
  </div>
</div>