<aside class="aside-social" uk-sticky="offset: 344">
  <div class="social">
    <div class="social__list social__list--vertical">
      <div class="social__item">
        <a href="#" class="link social__link">
          <svg class="icon">{{mixins.icon('fb')}}</svg>
        </a>
      </div>
      <div class="social__item">
        <a href="#" class="link social__link">
          <svg class="icon icon--bg">{{mixins.icon('inst')}}</svg>
        </a>
      </div>
      <div class="social__item">
        <a href="#" class="link social__link">
          <svg class="icon icon--bg">{{mixins.icon('ytb')}}</svg>
        </a>
      </div>
      <div class="social__item">
        <a href="#" class="link social__link">
          <svg class="icon icon--bg">{{mixins.icon('pnrst')}}</svg>
        </a>
      </div>
    </div>
  </div>
</aside>