<div class="social">
  <div class="social__list">
    <div class="social__item">
      <a href="#" class="link social__link social__link--bg social__link--is-small">
        <svg class="icon">{{mixins.icon('fb-footer')}}</svg>
      </a>
    </div>
    <div class="social__item">
      <a href="#" class="link social__link social__link--bg social__link--is-small">
        <svg class="icon icon--bg">{{mixins.icon('inst-footer')}}</svg>
      </a>
    </div>
    <div class="social__item">
      <a href="#" class="link social__link social__link--bg social__link--is-small">
        <svg class="icon icon--bg">{{mixins.icon('ytb-footer')}}</svg>
      </a>
    </div>
    <div class="social__item">
      <a href="#" class="link social__link social__link--bg social__link--is-small">
        <svg class="icon icon--bg">{{mixins.icon('pnrst-footer')}}</svg>
      </a>
    </div>
  </div>
</div>