.price {
  color: var(--text-color);
  display: flex;
  gap: calc(10 / var(--fz) * var(--fz-em));

  &--vertical {
    flex-direction: column;
    gap: 0;
  }

  &__unit {
    --fz: 14;
    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));

    &--through {
      text-decoration: line-through;
      color: var(--primary);
    }

    &--large {
      --fz: 32;

      @media (min-width: 1400px) {
        --fz: 40;
      }

      font-family: var(--font-title);
    }
  }
}