.tags {
  display: flex;
  flex-wrap: wrap;
  gap: calc(10 / var(--fz) * var(--fz-em));
  width: 100%;

  &__item {
    max-width: 100%;
  }
}

a.tag {
  text-decoration: none;
  color: var(--primary);

  &:hover,
  &:focus {
    color: var(--link-color);
    border-color: currentColor;
  }

  &--bordered {
    color: var(--tag-color);

    &:hover,
    &:focus {
      color: var(--tag-color-hover);
      border-color: var(--tag-color);
      background-color: var(--tag-color);
    }
  }
}

.tag {
  display: flex;
  align-items: center;
  color: var(--primary);
  border-bottom: 1px solid transparent;
  transition: 0.2s linear;
  min-width: 0;
  max-width: calc(250 / var(--fz) * var(--fz-em));
  text-transform: none;

  .uk-active &,
  a:hover>&,
  a:focus>& {
    color: var(--link-color);
    border-color: currentColor;
  }

  &--bordered {
    color: var(--tag-color);
    border: 1px solid var(--tag-color);
    border-radius: calc(20 / var(--fz) * var(--fz-em));
    padding: calc(8 / var(--fz) * var(--fz-em)) calc(10 / var(--fz) * var(--fz-em));

    .uk-active &,
    a:hover>&,
    a:focus>& {
      color: var(--tag-color-hover);
      border-color: var(--tag-color);
      background-color: var(--tag-color);
    }
  }

  &__text {
    --fz-text: 14;

    font-size: calc(var(--fz-text) / var(--fz) * var(--fz-em));
    font-weight: 400;
    line-height: 1;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}