.blockquote {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @media (min-width: 960px) {
    flex-direction: row;
    gap: 38px;
  }

  &__content-container {
    display: block;

  }

  &__image {
    position: relative;
    overflow: hidden;
    height: calc(157 / var(--fz) * var(--fz-em));
    width: calc(157 / var(--fz) * var(--fz-em));
    flex-shrink: 0;
    border-radius: 50%;

    @media (min-width: 960px) {
      height: calc(275 / var(--fz) * var(--fz-em));
      width: calc(275 / var(--fz) * var(--fz-em));
    }

  }

  &__img {
    /*position: absolute;
    top: 0;
    left: 0;*/
    width: 100%;
    height: 100%;

    & img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    display: flex;
    gap: calc(20 / var(--fz) * var(--fz-em));

    @media (min-width: 960px) {
      flex-direction: row;
      gap: 38px;
    }
  }

  &__content::before {
    content: " ";
    display: inline-block;
    flex-shrink: 0;
    width: calc(39 / var(--fz) * var(--fz-em));
    height: calc(32 / var(--fz) * var(--fz-em));
    background: url(../../../../../img/common/quotatmark.jpg) no-repeat 0 0;

    @media (min-width: 960px) {
      height: calc(32 / var(--fz) * var(--fz-em));
      width: calc(39 / var(--fz) * var(--fz-em));
    }
  }


  &__cite,
  &__text {
    --fz: 18;

    font-family: var(--font-title);
    font-weight: 400;
    line-height: 1.2;
    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    font-style: normal;

    @media (min-width: 960px) {
      --fz: 24;

      font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    }
  }

  &__cite {
    display: block;
    margin-top: calc(20 / var(--fz) * var(--fz-em));
  }

  &__cite-text {
    --fz: 14;

    font-family: var(--font);
    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    line-height: 1.5;
    font-style: normal;
    margin-top: calc(5 / var(--fz) * var(--fz-em));
  }
}