a.card {
  text-decoration: none;
  color: var(--text-color);

  &:hover,
  &:focus {
    color: var(--text-color);

    .card__title {
      color: var(--primary);
    }
  }
}

a.card__title {
  text-decoration: none;
  color: var(--text-color);

  &:hover,
  &:focus {
    color: var(--primary);
  }
}

.card {
  $self: &;

  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: calc(20 / var(--fz) * var(--fz-em));
  color: var(--text-color);

  &--medium {
    @media (min-width: 1100px) {
      padding: calc(40 / var(--fz) * var(--fz-em));
    }
  }

  &__tags-container {
    display: flex;
    gap: calc(10 / var(--fz) * var(--fz-em));
    max-width: calc(500 / var(--fz) * var(--fz-em));
    padding-top: calc(40 / var(--fz) * var(--fz-em));
    padding-bottom: calc(40 / var(--fz) * var(--fz-em));
  }

  &--large {
    @media (min-width: 1100px) {
      gap: calc(40 / var(--fz) * var(--fz-em));
    }
  }

  &--bg {
    background: var(--card-bg);
    padding-bottom: calc(20 / var(--fz) * var(--fz-em));
  }

  &--custom-bg {
    padding: calc(20 / var(--fz) * var(--fz-em));

    @media (min-width: 1100px) {
      padding: calc(40 / var(--fz) * var(--fz-em));
    }

    &.card--large {
      @media (min-width: 1100px) {
        padding: calc(60 / var(--fz) * var(--fz-em));
      }
    }
  }

  &--image-decor {
    min-height: calc((var(--card-image-decor-size) + 10) / var(--fz) * var(--fz-em));
  }

  &--bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    background-color: var(--card-bg-dark);

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;
      background: radial-gradient(50% 50% at 50% 50%, rgba(51, 51, 51, 0) 61.94%, #333333 100%);
    }
  }

  &--horizontal {
    flex-direction: row;
  }

  &--bordered {
    border: 1px solid var(--primary);
    padding: calc(20 / var(--fz) * var(--fz-em));
  }

  &--centered {
    align-items: center;
    text-align: center;
  }

  &__labels {
    position: absolute;
    z-index: 2;
    top: calc(10 / var(--fz) * var(--fz-em));
    left: calc(10 / var(--fz) * var(--fz-em));
    width: calc(100% - 20 / var(--fz) * var(--fz-em));
    overflow: hidden;
    white-space: nowrap;

    #{$self}--bordered & {
      position: static;
      top: auto;
      left: auto;
      margin-top: calc(-10 / var(--fz) * var(--fz-em));
      margin-left: calc(-10 / var(--fz) * var(--fz-em));
    }
  }

  &__favorite {
    position: absolute;
    z-index: 2;
    top: calc(20 / var(--fz) * var(--fz-em));
    right: calc(20 / var(--fz) * var(--fz-em));
  }

  &__favorite+&__labels {
    width: calc(100% - 75 / var(--fz) * var(--fz-em));
    top: calc(20 / var(--fz) * var(--fz-em));
    left: calc(20 / var(--fz) * var(--fz-em));
  }

  &__image {
    background-color: var(--card-bg);
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    height: 0;
    z-index: 1;

    #{$self}--image-decor & {
      background-color: transparent;
      position: absolute;
      top: 0;
      right: 0;
      width: calc(var(--card-image-decor-size) / var(--fz) * var(--fz-em));
      padding-bottom: calc(var(--card-image-decor-size) / var(--fz) * var(--fz-em));
    }

    #{$self}--horizontal & {
      flex-shrink: 0;
      max-width: calc(78 / var(--fz) * var(--fz-em));
      flex-basis: calc(78 / var(--fz) * var(--fz-em));
      padding-bottom: calc(78 / var(--fz) * var(--fz-em));
    }

    &--vertical {
      @media(min-width: 960px) {
        padding-bottom: 150%;
      }

    }

    &--horizontal {
      @media(min-width: 960px) {
        padding-bottom: 45%;
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    & img {
      position: absolute;
      object-fit: contain;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__icon {
    & .icon {
      color: var(--primary);
      width: calc(82 / var(--fz) * var(--fz-em));
      height: calc(82 / var(--fz) * var(--fz-em));
    }
  }

  &__body {
    position: relative;
    z-index: 1;

    &--auto-top {
      margin-top: auto;
    }

    #{$self}--bg & {
      padding: 0 calc(20 / var(--fz) * var(--fz-em));
    }
  }

  &__title {
    --fz: 14;

    font-weight: 400;
    line-height: 1.5;
    color: var(--card-title-color);
    transition: color 0.2s linear;
    font-size: calc(var(--fz)/ var(--fz-base) * var(--fz-em));

    &--large {
      --fz: 24;

      line-height: 1.2;
      font-family: var(--font-title);
      color: var(--card-title-color-large);

      #{$self}--custom-bg & {
        --fz: 32;
        text-transform: uppercase;
      }
    }

    &--large-dark {
      --card-title-color-large: var(--text-color)
    }

    &--extra-large {
      --fz: 32;

      line-height: 1.2;
      font-family: var(--font-title);
      text-transform: uppercase;

      @media (min-width: 1100px) {
        --fz: var(--h2);
      }
    }

    &--h1 {
      --fz: 40;

      line-height: 1.2;
      font-family: var(--font-title);
      text-transform: uppercase;

      @media (min-width: 1100px) {
        --fz: var(--h1);
      }
    }
  }

  &__info {
    margin-top: calc(5 / var(--fz) * var(--fz-em));

    #{$self}--bordered &,
    #{$self}--custom-bg & {
      margin-top: calc(20 / var(--fz) * var(--fz-em));
    }

    &--large {
      margin-top: calc(40 / var(--fz) * var(--fz-em));
    }
  }

  &__text {
    --fz: 14;

    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));

    #{$self}--custom-bg & {
      --fz: 18;

      font-family: var(--font-title);
      line-height: 1.2;

      @media (min-width: 1100px) {
        --fz: 24;
      }
    }
  }


  &__footer {
    margin-top: auto;
    position: relative;
    z-index: 1;

    .btn {
      #{$self}--bordered & {
        width: 100%;
      }

      #{$self}--custom-bg & {
        min-width: calc(217 / var(--fz) * var(--fz-em));
      }
    }
  }
}

.label-list {
  display: flex;
  gap: calc(5 / var(--fz) * var(--fz-em));

  &--large {
    gap: calc(10 / var(--fz) * var(--fz-em));
  }

  &__item {
    background-color: var(--primary);
    color: var(--z-white);
    padding: calc(4 / var(--fz) * var(--fz-em)) calc(6 / var(--fz) * var(--fz-em));

    &--free {
      background-color: transparent;
      margin-left: auto;

      & .icon {
        width: calc(82 / var(--fz) * var(--fz-em));
        height: calc(82 / var(--fz) * var(--fz-em));
      }
    }

    .label-list--large & {
      padding: calc(8 / var(--fz) * var(--fz-em)) calc(12 / var(--fz) * var(--fz-em));
    }

    >span {
      --fz: 14;

      display: block;
      line-height: 1.3;
      font-size: calc(var(--fz)/ var(--fz-base) * var(--fz-em));
    }
  }
}