.card {
  height: 100%;

  &__body {
    position: relative;
  }

  &__title {
    --fz: 20;

    font-weight: 400;
    line-height: 1.2;
    font-size: calc(var(--fz)/ var(--fz-base) * var(--fz-em));
  }

  &__text {
    --fz: 16;

    font-size: calc(var(--fz)/ var(--fz-base) * var(--fz-em));
    margin-top: calc(20 / var(--fz) * var(--fz-em));

    p {
      line-height: 1.4;
    }
  }
}