.modal {
  // position: fixed;
 // top: 0;
 // right: 0;
 // bottom: 0;
 // left: 0;
 // z-index: 1010;
 // overflow-y: auto;
 // background: rgba(0, 0, 0, .6);
 // transition: opacity .15s linear;

  &__header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: calc(30 / var(--fz) * var(--fz-em));
  }

  &-container {
    position: relative;
    margin: 0 auto;
    top: calc(210 / var(--fz) * var(--fz-em));
    width: calc(416 / var(--fz) * var(--fz-em));
    padding: calc(20 / var(--fz) * var(--fz-em));
    background-color: var(--modal-bg);
  }

  &__title {
    --fz: 24;

    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    font-family: var(--font-title);

  }


}









// .uk-modal-close-outside {
//     right: 0;
//     transform: translateX(100%);
//     background: $primary;
//     width: em(56, $fz);
//     height: em(56, $fz);
//     color: var(--z-white);

//     @media(max-width: 959px) {
//         transform: none;
//     }
// }

// .uk-modal-close-outside svg {
//     width: 50%;
//     height: 50%;
//     margin: 0 auto;
// }

// .section__form-modal .section__header {
//     padding: em(20, $fz);
// }

// .section__form-modal .form {
//     padding: em(20, $fz);
// }

// .form__btn .btn {
//     padding: em(16, $fz);
//     min-width: auto;
// }