.social {
  &__list {
    display: flex;
    align-items: center;
    gap: calc(10 / var(--fz) * var(--fz-em));
  }

  & .icon {
    --fz-icon: 25;

    font-size: calc(var(--fz-icon) / var(--fz) * var(--fz-em));
    color: currentColor;
  }

  &__list--vertical {
    flex-direction: column;
  }

  .social__link,
  a.social__link {
    color: var(--social-icon-color);
    display: block;
    border-bottom: 0;

    &--bg {
      --social-icon-bg: var(--primary);
      padding: calc(10 / var(--fz) * var(--fz-em));
      border-radius: 50%;
      background-color: var(--social-icon-bg);

      &:hover,
      &:focus {
        background-color: var(--primary-light);
        color: var(--social-icon-color);
      }
    }

    &--bg-light {
      --social-icon-bg: var(--bg-2);

      padding: calc(5 / var(--fz) * var(--fz-em));
      border-radius: 50%;
      background-color: var(--social-icon-bg);

      &:hover,
      &:focus {
        opacity: 0.5;
        border: none;
        text-decoration: none;
      }

      & .icon {
        --fz-icon: 25;

        font-size: calc(var(--fz-icon) / var(--fz) * var(--fz-em));
        color: currentColor;
      }
    }

    &--vertical {

      color: var(--link-color);
      /*иначе не видно*/
      gap: calc(15 / var(--fz) * var(--fz-em));

      &:hover,
      &:focus {
        opacity: 0.5;
        border: none;
        text-decoration: none;

      }

      & .icon {
        --fz-icon: 40;

        font-size: calc(var(--fz-icon) / var(--fz) * var(--fz-em));
        color: currentColor;
      }
    }

  }
}