.steps {

  &__list {
    list-style-type: none;
    counter-reset: list;
  }
}

.step {
  position: relative;
  padding-top: calc(45 / var(--fz) * var(--fz-em));

  &::after {
    --fz-after: 18;

    content: counter(list, decimal);
    counter-increment: list;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(32 / var(--fz-after) * var(--fz-em));
    height: calc(32 / var(--fz-after) * var(--fz-em));
    line-height: 1.9;
    background: var(--z-white);
    color: var(--primary);
    text-align: center;
    font-size: calc(var(--fz-after) / var(--fz) * var(--fz-em));
    border-radius: 50%;
    border: 1px solid var(--primary);
  }

  &::before {
    content: '';
    position: absolute;
    top: calc(16 / var(--fz) * var(--fz-em));
    left: calc(42 / var(--fz) * var(--fz-em));
    height: calc(1 / var(--fz) * var(--fz-em));
    background-color: var(--line);
    width: calc(100% - calc(40 / var(--fz) * var(--fz-em)));

    .steps__item:last-child & {
      display: none;
    }
  }

  &__title {
    --fz-title: 18;

    font-family: var(--font-title);
    font-size: calc(var(--fz-title) / var(--fz) * var(--fz-em));
    font-weight: 400;
    line-height: 1.2;
    color: var(--primary);

    @media (min-width: 960px) {

      --fz-title: 24;

    }
  }

  &__content {
    --fz-content: 14;

    font-size: calc(var(--fz-content) / var(--fz) * var(--fz-em));
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
    margin-top: calc(10 / var(--fz-content) * var(--fz-em));
  }
}