.table {
  width: 100%;

  &__header {
    border-bottom: 1px solid var(--line);
    padding-bottom: calc(10 / var(--fz) * var(--fz-em));
    margin-bottom: calc(15 / var(--fz) * var(--fz-em));

    &--no-border {
      border-bottom: none;
    }
  }

  &__title {
    --fz: 24;

    color: var(--text-color);
    font-family: var(--font-title);
    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    font-weight: 400;
    line-height: 1.2;

    &--uppercase {
      text-transform: uppercase;
    }
  }

  &__row {
    --fz: 14;

    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    gap: calc(5 / var(--fz) * var(--fz-em));
    justify-content: space-between;
    padding: calc(5 / var(--fz) * var(--fz-em));

    .table--simple & {
      padding: 0;
      margin-bottom: calc(5 / var(--fz) * var(--fz-em));

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:nth-child(even) {
      background-color: var(--bg-2);

      .table--simple & {
        background-color: transparent;
      }
    }

    &--bg:nth-child(odd) {
      background-color: var(--bg-2);
    }

    &--bg:nth-child(even) {
      background-color: var(--white);
    }
  }

  &__cell {
    max-width: 50%;
    flex-basis: 50%;
    position: relative;

    .table--simple & {
      color: var(--meaning);
    }

    &--meaning {
      text-align: right;
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;
    }
  }

  &__tooltip {
    display: flex;
    gap: calc(10 / var(--fz) * var(--fz-em));

    &::after {
      --fz-after: 9;

      font-size: calc(var(--fz-after) / var(--fz-base) * var(--fz-em));
      color: var(--question);
      line-height: 1;
      content: '?';
      padding-top: calc(4 / var(--fz) * var(--fz-em));
      border-radius: 50%;
      border: 1px solid var(--question);
      display: inline-block;
      width: calc(14 / var(--fz-after) * var(--fz-em));
      height: calc(14 / var(--fz-after) * var(--fz-em));
      cursor: help;
      text-align: center;
      flex-shrink: 0;
    }
  }
}