.delivery {
  &__transport {
    display: flex;
    flex-direction: row;
    gap: calc(20 / var(--fz) * var(--fz-em));
    margin-top: calc(40 / var(--fz) * var(--fz-em));
  }

  &__img img {
    max-height: calc(31 / var(--fz) * var(--fz-em));

    @media (min-width: 960px) {
      max-height: calc(37 / var(--fz) * var(--fz-em));
    }
  }

  &__text {
    --fz: 18;

    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    line-height: 1.5;
    margin-top: calc(20 / var(--fz) * var(--fz-em));

    &--pay {
      margin-top: 0;
    }
  }

  &__pay {
    display: flex;
    flex-direction: row;
    gap: calc(5 / var(--fz) * var(--fz-em));

    @media (min-width: 980px) {
      flex-direction: column;
    }
  }
}

.delivery-rules {
  &__header {
    margin-bottom: 0;

    @media (min-width: 980px) {
      margin-bottom: calc(20 / var(--fz) * var(--fz-em));
    }
  }

  &__title {
    --fz: 24;

    font-size: calc(var(--fz) / var(--fz-base) * var(--fz-em));
    color: var(--primary);
    text-transform: none;
    margin-bottom: calc(10 / var(--fz) * var(--fz-em));
  }

  &__text {
    line-height: 1.5;
  }

  &__list {
    line-height: 1.5;
    margin-left: 0;
    margin-right: 0;
    margin-top: calc(10 / var(--fz) * var(--fz-em));
  }

  &__item {
    position: relative;
    padding-left: calc(10 / var(--fz) * var(--fz-em));

    &::before {
      position: absolute;
      top: calc(7 / var(--fz) * var(--fz-em));
      left: 0;
      border-radius: 50%;
      background: var(--primary);
      width: calc(4 / var(--fz) * var(--fz-em));
      height: calc(4 / var(--fz) * var(--fz-em));
      content: '';
    }
  }
}