{% set page = 'main' %}
{% import "template/_mixins.html" as mixins %}
{% include "template/header.html" %}
{% include "template/breadcrumbs.html" %}
<section class="uk-section-small section section--border section--border-bottom">
  <div class="uk-container section__container">
    <div class="checkmate checkmate--top">
      <div class="checkmate__description">
        <h1 class="uk-h2">О нас</h1>
        <div class="hide-section">
          <div id="hidden-1" style="--hidden-height: 172" class="hide-section__body is-hidden">
            <p class="checkmate__lead">Наша цель — чтобы покупатель получал все самое интересное и актуальное в
              мире дизайнерского освещения,
              а коллеги-дизайнеры и архитекторы с удовольствием и выгодой для себя сотрудничали
              с компанией по своим проектам.</p>
            <p class="checkmate__subtitle">Наша цель — чтобы покупатель получал все самое интересное и актуальное в
              мире дизайнерского освещения,
              а коллеги-дизайнеры и архитекторы с удовольствием и выгодой для себя сотрудничали
              с компанией по своим проектам.</p>
          </div>
          <div class="hide-section__btn">
            <button class="hide-section-btn btn-show" uk-toggle="target: #hidden-1; cls: is-hidden">
              <span>Показать еще</span>
              {{mixins.icon('arrow-menu')}}
            </button>
            <button class="hide-section-btn btn-hide" uk-toggle="target: #hidden-1; cls: is-hidden">
              <span>Скрыть</span>
              {{mixins.icon('arrow-menu')}}
            </button>
          </div>
        </div>
      </div>
      <div class="checkmate__image-container">
        <div class="checkmate__image">
          <img src="./img/common/about.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="uk-section--small section section--border section--border-bottom section--border-bottom-outside">
  <div class="uk-container section__container">
    <div uk-grid
      class="uk-grid-small key-indicators key-indicators--bordered-inside uk-child-width-1-2 uk-child-width-1-4@l">
      <div class="key-indicators__item">
        <div class="key-indicator">
          <div class="key-indicator__header">
            <div class="key-indicator__icon">{{mixins.icon('cone')}}</div>
          </div>
          <div class="key-indicator__body">
            <div class="key-indicator__description">Уникальный ассортимент</div>
          </div>
        </div>
      </div>
      <div class="key-indicators__item">
        <div class="key-indicator">
          <div class="key-indicator__header">
            <div class="key-indicator__icon">{{mixins.icon('star')}}</div>
          </div>
          <div class="key-indicator__body">
            <div class="key-indicator__description">Качество продукта</div>
          </div>
        </div>
      </div>
      <div class="key-indicators__item">
        <div class="key-indicator">
          <div class="key-indicator__header">
            <div class="key-indicator__icon">{{mixins.icon('repeat')}}</div>
          </div>
          <div class="key-indicator__body">
            <div class="key-indicator__description">Постоянное обновление моделей</div>
          </div>
        </div>
      </div>
      <div class="key-indicators__item">
        <div class="key-indicator">
          <div class="key-indicator__header">
            <div class="key-indicator__icon">{{mixins.icon('3d')}}</div>
          </div>
          <div class="key-indicator__body">
            <div class="key-indicator__description">Готовые 3D-модели для дизайнеров</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="uk-section section section--border section--border-bottom">
  <div class="uk-container section__container">
    <div class="section__header">
      <div class="section__title">
        <h2>Наши дизайнеры</h2>
      </div>
    </div>
    <div class="section__body">
      <div uk-grid class="uk-grid card-list uk-child-width-1-2 uk-child-width-1-4@l">
        <article class="card">
          <div class="card__image">
            <div class="card__img">
              <img src="img/common/designer.jpg" alt="product">
            </div>
          </div>
          <div class="card__body">
            <div class="card__title card__title--large">Иван Федотов</div>
            <div class="card__info">
              <p class="card__text">Опыт 3 года</p>
            </div>
          </div>
        </article>
        <article class="card">
          <div class="card__image">
            <div class="card__img">
              <img src="img/common/ivanova.jpg" alt="product">
            </div>
          </div>
          <div class="card__body">
            <div class="card__title card__title--large">Марина Иванова</div>
            <div class="card__info">
              <p class="card__text">Опыт 6 лет</p>
            </div>
          </div>
        </article>
        <article class="card">
          <div class="card__image">
            <div class="card__img">
              <img src="img/common/samsonova.jpg" alt="product">
            </div>
          </div>
          <div class="card__body">
            <div class="card__title card__title--large">Ольга Самсонова</div>
            <div class="card__info">
              <p class="card__text">Опыт 7 лет</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="uk-section section section--border section--border-bottom section--border-bottom-outside">
  <div class="uk-container section__container">
    <div class="section__header">
      <div class="section__title">
        <h2>Мы работаем в современных стилях</h2>
      </div>
    </div>
    <div class="section__body">
      <div class="tabs tabs--small">
        <ul class="tabs__nav uk-subnav uk-subnav-pill" uk-switcher>
          <li class="tabs__item">
            <a href="#" class="tabs__link">
              <div class="tag tag--bordered tag--rounded">
                <span class="tag__text">Светильники</span>
              </div>
            </a>
          </li>
          <li class="tabs__item">
            <a href="#" class="tabs__link">
              <div class="tag tag--bordered tag--rounded">
                <span class="tag__text">Модерн</span>
              </div>
            </a>
          </li>
          <li class="tabs__item">
            <a href="#" class="tabs__link">
              <div class="tag tag--bordered tag--rounded">
                <span class="tag__text">Скандинавский стиль</span>
              </div>
            </a>
          </li>
        </ul>
        <ul class="tabs__container uk-switcher">
          <li class="tabs__content">test</li>
          <li class="tabs__content">test1</li>
          <li class="tabs__content">test2</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="uk-section section section--border section--border-bottom section--border-bottom-outside">
  <div class="uk-container section__container">
    <div class="checkmate checkmate--vertical checkmate--top">
      <div class="checkmate__description">
        <h2 class="checkmate__title">Создайте свой стиль
          с нашим ассортиментом дизайнерского освещения</h2>
        <p class="checkmate__lead">Наша цель — чтобы покупатель получал все самое интересное и актуальное в
          мире дизайнерского освещения,
          а коллеги-дизайнеры и архитекторы с удовольствием и выгодой для себя сотрудничали
          с компанией по своим проектам.</p>
        <div><a href="#" class="btn btn--secondary"><span>Узнать больше</span></a></div>
      </div>
      <div class="checkmate__image-container">
        <div class="checkmate__image checkmate__image--vertical">
          <img src="./img/common/checkmate-2.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="uk-section section section--white">
  <div class="uk-container section__container">
    <div class="section__header">
      <div class="section__title section__title--decor">
        <h2>Блог</h2>
      </div>
    </div>
    <div class="section__body">
      <div uk-grid class="uk-grid-small tile-list uk-child-width-1-3@m">
        <div class="tile-list__item">
          <article class="tile">
            <div class="tile__image">
              <div class="tile__img">
                <img src="img/common/blog-test.jpg" alt="">
              </div>
            </div>
            <div class="tile__body">
              <div class="tile__container">
                <div class="tile__details">
                  <div class="details">
                    <div class="details__time">
                      <time class="date" datetime="2023-10-26">
                        <span class="date__day">26</span>
                        <span class="date__month">окт</span>
                        <span class="date__year">2023</span>
                      </time>
                    </div>
                    <div class="details__body">
                      <span class="details__tag">
                        <a href="#" class="link details__link">Tag link</a>
                      </span>
                      <span class="details__tag">
                        <span class="details__text">Tag span</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="tile__info">
                  <a href="#" class="tile__title">Топ-10 основных стилей в интерьере</a>
                  <div class="tile__description">
                    <span>Дизайн интерьера можно выполнить в различных форматах, каждый из которых создает
                      уникальное
                      простран... </span>
                  </div>
                </div>
                <div class="tile__link">
                  <a href="#" class="link link--bordered">Читать дальше</a>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="tile-list__item uk-visible@m">
          <article class="tile">
            <div class="tile__image">
              <div class="tile__img">
                <img src="img/common/blog-test-1.jpg" alt="">
              </div>
            </div>
            <div class="tile__body">
              <div class="tile__container">
                <div class="tile__details">
                  <div class="details">
                    <div class="details__time">
                      <time class="date" datetime="2023-10-26">
                        <span class="date__day">26</span>
                        <span class="date__month">окт</span>
                        <span class="date__year">2023</span>
                      </time>
                    </div>
                  </div>
                </div>
                <div class="tile__info">
                  <a href="#" class="tile__title">Сам себе дизайнер</a>
                  <div class="tile__description"><span>Каждый владелец дома старается сделать жилое пространство не
                      только функциональным, но и стильным. Р... </span></div>
                </div>
                <div class="tile__link">
                  <a href="#" class="link link--bordered">Читать дальше</a>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="tile-list__item uk-visible@m">
          <article class="tile">
            <div class="tile__image">
              <div class="tile__img">
                <img src="img/common/blog-test-2.jpg" alt="">
              </div>
            </div>
            <div class="tile__body">
              <div class="tile__container">
                <div class="tile__details">
                  <div class="details">
                    <div class="details__time">
                      <time class="date" datetime="2023-10-26">
                        <span class="date__day">26</span>
                        <span class="date__month">окт</span>
                        <span class="date__year">2023</span>
                      </time>
                    </div>
                  </div>
                </div>
                <div class="tile__info">
                  <a href="#" class="tile__title">Значение цвета в интерьере дома</a>
                  <div class="tile__description"><span>Одним из важных этапов дизайна помещения является подбор
                      цветового оформления интерьера. Интерьерная... </span></div>
                </div>
                <div class="tile__link">
                  <a href="#" class="link link--bordered">Читать дальше</a>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "template/footer.html" %}