{% set page = 'main' %}
{% import "template/_mixins.html" as mixins %}
{% include "template/header.html" %}
{% include "template/breadcrumbs.html" %}
<section class="section uk-section-small section--border section--border-top section--border-bottom section--border-bottom-outside">
  <div class="section__container uk-container">
    <div class="section__body">
      <article class="blog-article">
        <div class="blog-article__header">
          <div uk-grid class="uk-grid uk-grid-small uk-child-width-1-3@m">
            <div class="uk-width-2-3@m">
              <article class="tile tile--main tile--top">
                <div class="tile__body">
                  <div class="tile__date uk-visible@s">
                    <time class="date date--bg" datetime="2023-10-26">
                      <span class="date__day">26</span>
                      <span class="date__month">окт</span>
                    </time>
                  </div>
                  <div class="tile__container">
                    <div class="tile__details">
                      <div class="details">
                        <div class="details__time uk-hidden@s">
                          <time class="date" datetime="2023-10-26">
                            <span class="date__day">26</span>
                            <span class="date__month">окт</span>
                            <span class="date__year">2023</span>
                          </time>
                        </div>
                      </div>
                    </div>
                    <div class="tile__info">
                      <h1 class="tile__title tile__title--large uk-h2">
                        Топ-10 основных стилей в интерьере
                      </h1>
                    </div>
                    <div class="details__body details__body--last">
                      <span class="details__tag">
                        <span class="details__text">Гостиная</span>
                      </span>
                      <span class="details__tag">
                        <span class="details__text">Гостиная</span>
                      </span>
                      <span class="details__tag">
                        <span class="details__text">Гостиная</span>
                      </span>
                      <span class="details__tag">
                        <span class="details__text">Гостиная</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="tile__image">
                  <div class="tile__img">
                    <img src="img/common/blog-test.jpg" alt="">
                  </div>
                </div>
              </article>
            </div>
            <div class="uk-widht-1-1 uk-widht-1-3@m">
              <div class="card card--medium card--custom-gap" style="background-color: #F7F4EF;">
                <div class="card__header">
                  <div class="card__title">
                    <h3>Подпишитесь на рассылку</h3>
                  </div>
                </div>
                <div class="card__body">
                  <div class="card__info">
                    <ul class="list list--ul">
                      <li>Новые статьи</li>
                      <li>Спецпредложения</li>
                      <li>Скидки</li>
                    </ul>
                  </div>
                </div>
                <div class="card__footer">
                  <form action="" class="form form--contacts">
                    <div class="form__body">
                      <div class="form__item">
                        <label class="form__label">
                          <span>E-mail</span>
                          <div class="input input--white">
                            <input type="email" class="input__field" placeholder="E-mail">
                          </div>
                        </label>
                      </div>
                    </div>
                    <div class="form__footer">
                      <div class="form__item">
                        <div class="form__btn">
                          <button class="btn btn--primary uk-width-3-4" role="button">
                            <span>Отправить заявку</span>
                          </button>
                        </div>
                      </div>
                      <div class="form__item">
                        <div class="checkbox checkbox--confirm">
                          <div class="checkbox__text checkbox__text--small">
                            <span>Нажимая на кнопку "Отправить заявку", я соглашаюсь <a class="link link--bordered" href="#">с политикой
                                конфиденциальности</a> </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-article__body">
          <div class="section-grid section-grid--reverse">
            <aside class="section-grid__aside section-grid__aside--third">
              <div class="section-grid-aside scrollbar" uk-sticky="offset: 157; end: true">
                <div class="section-grid-aside__content">
                  <div class="content-nav">
                    <ol class="content-nav__list">
                      <li class="content-nav__item">
                        <a href="#topic1" uk-scroll class="content-nav__link"><span>Классический стиль</span></a>
                      </li>
                      <li class="content-nav__item">
                        <a href="#topic2" uk-scroll class="content-nav__link"><span>Скандинасвкий стиль</span></a>
                      </li>
                      <li class="content-nav__item">
                        <a href="#topic2" class="content-nav__link"><span>Современный стиль</span></a>
                      </li>
                      <li class="content-nav__item">
                        <a href="#topic2" class="content-nav__link"><span>Кантри</span></a>
                      </li>
                      <li class="content-nav__item">
                        <a href="#topic2" class="content-nav__link"><span>Прованс</span></a>
                      </li>
                    </ol>
                    <div class="content-nav__text">
                      <a href="#topic2" class="content-nav__link"><span>Возврат денежных средств при оформлении возврата товара</span></a>
                    </div>
                  </div>
                  <!-- content-nav
content-nav__list
content-nav__item
content-nav__link
span -->
                </div>
              </div>
            </aside>
            <div class="section-grid__content">
              <section class="section uk-section-small">
                <div class="uk-container section__container">
                  <div class="blog-article__lead">
                    <p>Дизайн интерьера можно выполнить в различных форматах, каждый из которых создает уникальное пространство со своей историей и индивидуальными особенностями. Знание характерных черт основных стилей поможет при проектировании своего жилья, а также гармонично организовать пространство.</p>
                  </div>
                </div>
              </section>
              <section class="section section--blog uk-section section--border section--border-bottom  section--border-bottom-outside">
                <section class="section uk-section-small section--border section--border-bottom  section--border-bottom-outside">
                  <div class="uk-container section__container">
                    <div class="section__header">
                      <div class="section__title">
                        <h2 id="topic1">Классический стиль</h2>
                      </div>
                    </div>
                    <div class="section__body">
                      <div class="content-typography">
                        <p>При приемке Товара Покупатель обязан проверить Товар по количеству, качеству (общая целостность Товара, наличие трещин, сколов, потертостей, пятен, разводов, а также иных недостатков, для обнаружения которых не требуется применение специального оборудования) и комплектности, на его соответствие образцу/описанию Товара, а также данным, указанным в заказе на продажу.</p>
                        <p>В случае обнаружения недостатков Товара и/или его несоответствия данным, указанным на Сайте или в Заказе на продажу, Покупатель обязан указать об этом в заявке на оказание услуги по доставке Товара.</p>
                        <p>В противном случае, Товар считается принятым без претензий по количеству, качеству и комплектности, что не лишает покупателя возможности реализации права предъявления требований в соответствии с действующим законодательством, в том числе Законом «О защите прав потребителей» от 07.02.1992 № 2300-1.</p>
                        <figure class="figure">
                          <div class="uk-grid uk-child-width-1-2 figure__container">
                            <div class="blog-lead__image">
                              <div class="blog-lead__img">
                                <img src="img/common/blog-test.jpg" width="373" height="220" alt="">
                              </div>
                            </div>
                            <figcaption>Статьей 502 Гражданского кодекса РФ и статьей 25 закона «О защите прав потребителей» потребителю предоставляется право обменять или вернуть товар при одновременном соблюдении следующих условий:</figcaption>
                          </div>
                        </figure>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="section uk-section-small section--border section--border-bottom  section--border-bottom-outside">
                  <div class="uk-container section__container">
                    <div class="section__header">
                      <div class="section__title">
                        <h2 id="topic2">Скандинавский стиль</h2>
                      </div>
                    </div>
                    <div class="section__body">
                      <div class="content-typography">
                        <p>Статьей 502 Гражданского кодекса РФ и статьей 25 закона «О защите прав потребителей» потребителю предоставляется право обменять или вернуть товар при одновременном соблюдении следующих условий:</p>
                        <ul>
                          <li>с момента покупки прошло не более 14 дней (не считая дня покупки);</li>
                          <li>товар непродовольственный;</li>
                          <li>товар надлежащего качества (если товар ненадлежащего качества – см. <a href="#">условия возврата и обмена товара ненадлежащего качества</a>);</li>
                          <li>товар не был в употреблении, т.е. упаковка не нарушена, нет следов эксплуатации, комплектация сохранена (в случае потери упаковки, бирок, ярлыков и т.п. возврат или обмен возможен по согласованию с администратором магазина), в том числе если товар был поставлен в разобранном виде, и не были собран покупателем;</li>
                          <li>сохранены потребительские свойства;</li>
                        </ul>
                        <ol>
                          <li>с момента покупки прошло не более 14 дней (не считая дня покупки);</li>
                          <li>товар непродовольственный;</li>
                          <li>товар надлежащего качества (если товар ненадлежащего качества – см. <a href="#">условия возврата и обмена товара ненадлежащего качества</a>);</li>
                          <li>товар не был в употреблении, т.е. упаковка не нарушена, нет следов эксплуатации, комплектация сохранена (в случае потери упаковки, бирок, ярлыков и т.п. возврат или обмен возможен по согласованию с администратором магазина), в том числе если товар был поставлен в разобранном виде, и не были собран покупателем;</li>
                          <li>сохранены потребительские свойства;</li>
                        </ol>
                        <figure class="figure">
                          <div class="uk-grid uk-child-width-1-2 figure__container">
                            <div class="blog-lead__image">
                              <div class="blog-lead__img">
                                <img src="img/common/blog-test.jpg" width="373" height="220" alt="">
                              </div>
                            </div>
                            <figcaption>Винтажный стиль предназначен для людей, которые любят воспоминания.</figcaption>
                          </div>
                        </figure>
                      </div>
                    </div>
                  </div>
                </section>
              </section>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
{% include "template/blog.html" %}
{% include "template/footer.html" %}