<!-- {% set page = 'main' %}
{% import "template/_mixins.html" as mixins %}
{% include "template/header.html" %}
{% include "template/breadcrumbs.html" %}
<section class="section section--border section--border-top section--border-bottom">
  <div class="section__container uk-container">
    <div class="section__body">
      <div class="tabs tabs--small">
        <ul class="tabs__nav uk-subnav uk-subnav-pill" uk-switcher>
          <li class="tabs__item">
            <a href="#" class="tabs__link">
              <div class="tag tag--bordered tag--rounded">
                <span class="tag__text">Светильники</span>
              </div>
            </a>
          </li>
          <li class="tabs__item">
            <a href="#" class="tabs__link">
              <div class="tag tag--bordered tag--rounded">
                <span class="tag__text">Модерн</span>
              </div>
            </a>
          </li>
          <li class="tabs__item">
            <a href="#" class="tabs__link">
              <div class="tag tag--bordered tag--rounded">
                <span class="tag__text">Скандинавский стиль</span>
              </div>
            </a>
          </li>
        </ul>
        <ul class="tabs__container uk-switcher">
          <li class="tabs__content">test</li>
          <li class="tabs__content">test1</li>
          <li class="tabs__content">test2</li>
        </ul>
      </div>
    </div>
    <div class="section__footer">
      <p>sorting</p>
    </div>
  </div>
</section>
<section class="section section--border">
  <div class="section__container uk-container blog">
    <div class="section__header">
      <div class="blog__close">
        <button class="modal__close modal__close--small uk-modal-close" type="button"></button>
        <p>Очистить выбор</p>
      </div>
    </div>
  </div>
</section>
{% include "template/footer.html" %} -->