{% set page = 'main' %}
{% import "template/_mixins.html" as mixins %}
{% include "template/header.html" %}
{% include "template/breadcrumbs.html" %}
<section class="section section--border section--border-top section--border-bottom">
  <div class="section__container uk-container">
    <p>Filters</p>
    <p>Sorting</p>
  </div>
</section>
<section class="section uk-section-small section--border">
  <div class="section__container uk-container blog-container">
    <div class="section__header">
      <div uk-grid class="uk-grid uk-grid-small uk-child-width-1-3@m">
        <div class="uk-width-2-3@m">
          <article class="tile tile--main">
            <div class="tile__image">
              <div class="tile__img">
                <img src="img/common/blog-test.jpg" alt="">
              </div>
            </div>
            <div class="tile__body">
              <div class="tile__date uk-visible@s">
                <time class="date date--bg" datetime="2023-10-26">
                  <span class="date__day">26</span>
                  <span class="date__month">окт</span>
                </time>
              </div>
              <div class="tile__container">
                <div class="tile__details">
                  <div class="details">
                    <div class="details__time uk-hidden@s">
                      <time class="date" datetime="2023-10-26">
                        <span class="date__day">26</span>
                        <span class="date__month">окт</span>
                        <span class="date__year">2023</span>
                      </time>
                    </div>
                    <div class="details__body">
                      <span class="details__tag">
                        <span class="details__text">Гостиная</span>
                      </span>
                      <span class="details__tag">
                        <span class="details__text">Гостиная</span>
                      </span>
                      <span class="details__tag">
                        <span class="details__text">Гостиная</span>
                      </span>
                      <span class="details__tag">
                        <span class="details__text">Гостиная</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="tile__info">
                  <a href="#" class="tile__title">Топ-10 основных стилей в интерьере</a>
                  <div class="tile__description">
                    <span>Дизайн интерьера можно выполнить в различных форматах, каждый из которых создает
                      уникальное
                      простран... </span>
                  </div>
                </div>
                <div class="tile__link">
                  <a href="#" class="link link--bordered">Читать дальше</a>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="uk-widht-1-1 uk-widht-1-3@m">
          <div class="card card--medium card--custom-gap" style="background-color: #F7F4EF;">
            <div class="card__header">
              <div class="card__title">
                <h3>Подпишитесь на рассылку</h3>
              </div>
            </div>
            <div class="card__body">
              <div class="card__info">
                <ul class="list list--ul">
                  <li>Новые статьи</li>
                  <li>Спецпредложения</li>
                  <li>Скидки</li>
                </ul>
              </div>
            </div>
            <div class="card__footer">
              <form action="" class="form form--contacts">
                <div class="form__body">
                  <div class="form__item">
                    <label class="form__label">
                      <span>E-mail</span>
                      <div class="input input--white">
                        <input type="email" class="input__field" placeholder="E-mail">
                      </div>
                    </label>
                  </div>
                </div>
                <div class="form__footer">
                  <div class="form__item">
                    <div class="form__btn">
                      <button class="btn btn--primary uk-width-3-4" role="button">
                        <span>Отправить заявку</span>
                      </button>
                    </div>
                  </div>
                  <div class="form__item">
                    <div class="checkbox checkbox--confirm">
                      <div class="checkbox__text checkbox__text--small">
                        <span>Нажимая на кнопку "Отправить заявку", я соглашаюсь <a class="link link--bordered" href="#">с политикой
                            конфиденциальности</a> </span>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section__body section__body--large">
      <div uk-grid class="blog-list uk-grid uk-grid-small uk-child-width-1-3@m">
        <div class="blog-list__item">
          <article class="tile">
            <div class="tile__image">
              <div class="tile__img">
                <img src="img/common/blog-test.jpg" alt="">
              </div>
            </div>
            <div class="tile__body">
              <div class="tile__container">
                <div class="tile__details">
                  <div class="details">
                    <div class="details__time">
                      <time class="date" datetime="2023-10-26">
                        <span class="date__day">26</span>
                        <span class="date__month">окт</span>
                        <span class="date__year">2023</span>
                      </time>
                    </div>
                    <div class="details__body">
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="tile__info">
                  <a href="#" class="tile__title">Топ-10 основных стилей в интерьере</a>
                  <div class="tile__description"><span>Дизайн </span></div>
                </div>
                <div class="tile__link">
                  <a href="#" class="link link--bordered">Читать дальше</a>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="blog-list__item">
          <article class="tile">
            <div class="tile__image">
              <div class="tile__img">
                <img src="img/common/blog-test.jpg" alt="">
              </div>
            </div>
            <div class="tile__body">
              <div class="tile__container">
                <div class="tile__details">
                  <div class="details">
                    <div class="details__time">
                      <time class="date" datetime="2023-10-26">
                        <span class="date__day">26</span>
                        <span class="date__month">окт</span>
                        <span class="date__year">2023</span>
                      </time>
                    </div>
                    <div class="details__body">
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="tile__info">
                  <a href="#" class="tile__title">Топ-10 основных стилей в интерьере</a>
                  <div class="tile__description"><span>Дизайн </span></div>
                </div>
                <div class="tile__link">
                  <a href="#" class="link link--bordered">Читать дальше</a>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="blog-list__item">
          <article class="tile">
            <div class="tile__image">
              <div class="tile__img">
                <img src="img/common/blog-test.jpg" alt="">
              </div>
            </div>
            <div class="tile__body">
              <div class="tile__container">
                <div class="tile__details">
                  <div class="details">
                    <div class="details__time">
                      <time class="date" datetime="2023-10-26">
                        <span class="date__day">26</span>
                        <span class="date__month">окт</span>
                        <span class="date__year">2023</span>
                      </time>
                    </div>
                    <div class="details__body">
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="tile__info">
                  <a href="#" class="tile__title">Топ-10 основных стилей в интерьере</a>
                  <div class="tile__description"><span>Дизайн </span></div>
                </div>
                <div class="tile__link">
                  <a href="#" class="link link--bordered">Читать дальше</a>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="blog-list__item">
          <article class="tile">
            <div class="tile__image">
              <div class="tile__img">
                <img src="img/common/blog-test.jpg" alt="">
              </div>
            </div>
            <div class="tile__body">
              <div class="tile__container">
                <div class="tile__details">
                  <div class="details">
                    <div class="details__time">
                      <time class="date" datetime="2023-10-26">
                        <span class="date__day">26</span>
                        <span class="date__month">окт</span>
                        <span class="date__year">2023</span>
                      </time>
                    </div>
                    <div class="details__body">
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="tile__info">
                  <a href="#" class="tile__title">Топ-10 основных стилей в интерьере</a>
                  <div class="tile__description"><span>Дизайн </span></div>
                </div>
                <div class="tile__link">
                  <a href="#" class="link link--bordered">Читать дальше</a>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="blog-list__item">
          <article class="tile">
            <div class="tile__image">
              <div class="tile__img">
                <img src="img/common/blog-test.jpg" alt="">
              </div>
            </div>
            <div class="tile__body">
              <div class="tile__container">
                <div class="tile__details">
                  <div class="details">
                    <div class="details__time">
                      <time class="date" datetime="2023-10-26">
                        <span class="date__day">26</span>
                        <span class="date__month">окт</span>
                        <span class="date__year">2023</span>
                      </time>
                    </div>
                    <div class="details__body">
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="tile__info">
                  <a href="#" class="tile__title">Топ-10 основных стилей в интерьере</a>
                  <div class="tile__description"><span>Каждый владелец дома старается сделать жилое пространство не только функциональным, но и...</span></div>
                </div>
                <div class="tile__link">
                  <a href="#" class="link link--bordered">Читать дальше</a>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="blog-list__item">
          <article class="tile">
            <div class="tile__image">
              <div class="tile__img">
                <img src="img/common/designer.jpg" alt="">
              </div>
            </div>
            <div class="tile__body">
              <div class="tile__container">
                <div class="tile__details">
                  <div class="details">
                    <div class="details__time">
                      <time class="date" datetime="2023-10-26">
                        <span class="date__day">26</span>
                        <span class="date__month">окт</span>
                        <span class="date__year">2023</span>
                      </time>
                    </div>
                    <div class="details__body">
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                      <span class="details__tag">
                        <a href="#" class="link details__link">Гостиная</a>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="tile__info">
                  <a href="#" class="tile__title">Топ-10 основных стилей в интерьере</a>
                  <div class="tile__description"><span>Дизайн </span></div>
                </div>
                <div class="tile__link">
                  <a href="#" class="link link--bordered">Читать дальше</a>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section uk-section-small section--border section--border-top section--border-bottom section--border-bottom-outside section--margin-bottom">
  <div class="section__container uk-container">
    <div class="section__more">
      <div class="pagination">
        <ul class="uk-pagination" uk-margin>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li class="uk-active"><span>3</span></li>
          <li class="uk-disabled"><span>…</span></li>
          <li><a href="#">12</a></li>
        </ul>
      </div>
      <a href="#" class="btn btn--secondary"><span>Показать еще</span></a>
    </div>
  </div>
</section>
{% include "template/footer.html" %}