{% set page = 'main' %}
{% import "template/_mixins.html" as mixins %}
{% include "template/header.html" %}
{% include "template/breadcrumbs.html" %}
<article class="article article--product">
  <div class="article__header">
    <div class="article__container uk-container">
      <div class="article__title">
        <h1 class="uk-h2">Реечный подвесной светильник в индустриальном стиле с 4 плафонами Urban</h1>
      </div>
      <div class="article__subtitle">
        <div class="price">
          <span class="price__unit">Цена</span>
          <span class="price__unit price__unit--through">от 48 980 ₽</span>
          <span class="price__unit">от 26 780 ₽</span>
        </div>
      </div>
    </div>
  </div>
  <div class="article__body">
    <div class="article__container uk-container">
      <div uk-grid>
        <div class="uk-width-3-5@m">
          <div class="article__slider">
            <article class="card card--bg">
              <div class="card__favorite">
                <button type="button" class="btn btn--is-favorite">{{mixins.icon('favorite')}}</button>
              </div>
              <div class="card__labels">
                <ul class="label-list label-list--large">
                  <li class="label-list__item">
                    <span>Скидка</span>
                  </li>
                  <li class="label-list__item">
                    <span>Новинки</span>
                  </li>
                </ul>
              </div>
              <div class="card__image">
                <div class="card__img">
                  <img src="./decor/10.png" alt="product">
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="uk-width-2-5@m">
          <div class="article__info">
            <div class="article-info">
              <div class="article-info__top">
                <div class="status">
                  <span>В наличии</span>
                </div>
                <span class="article-info__label">Артикул:</span>
                <span class="article-info__text">stavra01</span>
              </div>
              <div class="article-info__main">
                <div class="article-info-main">
                  <div class="article-info-main__row">
                    <div class="article-info-main__label">Цвет</div>
                    <div class="article-info-main__list">
                      <ul class="article-tags" uk-tab>
                        <li class="article-tags__item">
                          <a href="#" class="tag tag--bordered">
                            <span class="tag__text">Белый</span>
                          </a>
                        </li>
                        <li class="article-tags__item">
                          <a href="#" class="tag tag--bordered">
                            <span class="tag__text">Розовый</span>
                          </a>
                        </li>
                        <li class="article-tags__item">
                          <a href="#" class="tag tag--bordered">
                            <span class="tag__text">Серый</span>
                          </a>
                        </li>
                        <li class="article-tags__item">
                          <a href="#" class="tag tag--bordered">
                            <span class="tag__text">Черный</span>
                          </a>
                        </li>
                        <li class="article-tags__item">
                          <a href="#" class="tag tag--bordered">
                            <span class="tag__text">Бежевый</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="article-info-main__row">
                    <div class="article-info-main__label">Свет</div>
                    <div class="article-info-main__list">
                      <ul class="article-tags" uk-tab>
                        <li class="article-tags__item">
                          <a href="#" class="tag tag--bordered">
                            <span class="tag__text">Холодный</span>
                          </a>
                        </li>
                        <li class="article-tags__item">
                          <a href="#" class="tag tag--bordered">
                            <span class="tag__text">Теплый</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="article-info-main__row">
                    <div class="article-info-main__label">Мощность</div>
                    <div class="article-info-main__list">
                      <ul class="article-tags" uk-tab>
                        <li class="article-tags__item">
                          <a href="#" class="tag tag--bordered">
                            <span class="tag__text">22 ВТ</span>
                          </a>
                        </li>
                        <li class="article-tags__item">
                          <a href="#" class="tag tag--bordered">
                            <span class="tag__text">28 ВТ</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="article-info-main__row">
                    <div class="article-info-main__label">Кол-во ламп</div>
                    <div class="article-info-main__list">
                      <ul class="article-tags" uk-tab>
                        <li class="article-tags__item">
                          <a href="#" class="tag tag--bordered">
                            <span class="tag__text">3</span>
                          </a>
                        </li>
                        <li class="article-tags__item">
                          <a href="#" class="tag tag--bordered">
                            <span class="tag__text">6</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="article-info-main__row">
                    <div class="article-info-main__label">Диаметр</div>
                    <div class="article-info-main__list">
                      <ul class="article-tags" uk-tab>
                        <li class="article-tags__item">
                          <a href="#" class="tag tag--bordered">
                            <span class="tag__text">450 мм</span>
                          </a>
                        </li>
                        <li class="article-tags__item">
                          <a href="#" class="tag tag--bordered">
                            <span class="tag__text">650 мм</span>
                          </a>
                        </li>
                        <li class="article-tags__item">
                          <a href="#" class="tag tag--bordered">
                            <span class="tag__text">1250 мм</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="article-info__more">
                <a href="#" class="link link--bordered"><span>Посмотреть все характеристики</span></a>
              </div>
              <div class="article-info__footer">
                <div uk-grid class="uk-grid-small uk-child-width-1-2@m">
                  <div>
                    <div class="price price--vertical">
                      <span class="price__unit price__unit--through">148 900 Р</span>
                      <span class="price__unit price__unit--large">140 980 Р</span>
                      <span class="price__unit">C учетом выбранных опций</span>
                    </div>
                  </div>
                  <div>
                    <button type="button" class="btn btn--icon">
                      <span>{{mixins.icon('cart')}}</span>
                      <span>Добавить в корзину</span>
                    </button>
                  </div>
                  <div>
                    <button type="button" class="btn btn--secondary btn--icon">
                      <span>{{mixins.icon('model')}}</span><span>Запросить 3D
                        модель</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="article__additional">
    <section class="uk-section section section--white">
      <div class="uk-container section__container">
        <div class="section__header">
          <div class="section__title">
            <h2>Технические характеристики</h2>
          </div>
        </div>
        <div class="section__body">
          <div uk-grid class="uk-grid-small">
            <div class="uk-width-1-3@m">
              <div class="table">
                <div class="table__header">
                  <span class="table__title">Основные</span>
                </div>
                <div class="table__body">
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Артикул</span>
                    </div>
                    <div class="table__cell table__cell--meaning">VL5593P26</div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Бренд</span></div>
                    <div class="table__cell table__cell--meaning">
                      <a href="#" class="link">Vele Luce</a>
                    </div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Страна бренда</span></div>
                    <div class="table__cell table__cell--meaning"><a href="#" class="link">Италия</a></div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Страна производства</span></div>
                    <div class="table__cell table__cell--meaning">Китай</div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Коллекция</span></div>
                    <div class="table__cell table__cell--meaning"><a href="#" class="link">Elision</a></div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Стиль</span></div>
                    <div class="table__cell table__cell--meaning">Современный</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="uk-width-1-3@m">
              <div class="table">
                <div class="table__header">
                  <span class="table__title">Лампы</span>
                </div>
                <div class="table__body">
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Тип цоколя</span>
                    </div>
                    <div class="table__cell table__cell--meaning"><a href="#" class="link">Е27</a></div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Тип лампочки (основной)</span></div>
                    <div class="table__cell table__cell--meaning">Накаливания
                    </div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Количество ламп</span></div>
                    <div class="table__cell table__cell--meaning">3/6</div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Мощность лампы, W</span></div>
                    <div class="table__cell table__cell--meaning">22/28</div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Общая мощность, W</span></div>
                    <div class="table__cell table__cell--meaning">360</div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Площадь освещения, м2</span></div>
                    <div class="table__cell table__cell--meaning">12</div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Напряжение, V</span></div>
                    <div class="table__cell table__cell--meaning">220-240</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="uk-width-1-3@m">
              <div class="table">
                <div class="table__header">
                  <span class="table__title">Цвет и материал</span>
                </div>
                <div class="table__body">
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Виды материалов</span>
                    </div>
                    <div class="table__cell table__cell--meaning"><a href="#" class="link">Металлический</a></div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">материал арматуры</span></div>
                    <div class="table__cell table__cell--meaning">Металл
                    </div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Материал плафонов</span></div>
                    <div class="table__cell table__cell--meaning">Стекло</div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Направление плафонов</span></div>
                    <div class="table__cell table__cell--meaning">Вверх</div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Вид рассеивателя</span></div>
                    <div class="table__cell table__cell--meaning">Отсутствует</div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Форма рассеивателя</span></div>
                    <div class="table__cell table__cell--meaning"><a href="#" class="link">Нестандартная</a></div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Цвет</span></div>
                    <div class="table__cell table__cell--meaning">Хром/Белый/Розовый/Серый/Черный</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="uk-width-1-3@m">
              <div class="table">
                <div class="table__header">
                  <span class="table__title">Размеры</span>
                </div>
                <div class="table__body">
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Длина, мм</span>
                    </div>
                    <div class="table__cell table__cell--meaning">1450</div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Ширина, мм</span></div>
                    <div class="table__cell table__cell--meaning">
                      1450
                    </div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Высота, мм</span></div>
                    <div class="table__cell table__cell--meaning">1450</div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Диаметр, мм</span></div>
                    <div class="table__cell table__cell--meaning">500/800/1200</div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Регулировка по высоте</span></div>
                    <div class="table__cell table__cell--meaning">Да</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="uk-width-1-3@m">
              <div class="table">
                <div class="table__header">
                  <span class="table__title">Дополнительно</span>
                </div>
                <div class="table__body">
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Высота, мм</span></div>
                    <div class="table__cell table__cell--meaning">1450</div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Диаметр, мм</span></div>
                    <div class="table__cell table__cell--meaning">500/800/1200</div>
                  </div>
                  <div class="table__row">
                    <div class="table__cell"><span class="table__tooltip" uk-tooltip="title: Выявляем основные пробелы и ошибки на сайте, которые мешают сео продвижению.; pos: bottom-left" title="" aria-expanded="false" tabindex="0">Регулировка по высоте</span></div>
                    <div class="table__cell table__cell--meaning">Да</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="uk-section section section--white section--border section--border-bottom section--border-bottom-outside">
      <div class="uk-container section__container">
        <div class="section__header">
          <div class="section__title">
            <h2>Другие модели</h2>
          </div>
        </div>
        <div class="section__body">
          <div class="hide-section">
            <div id="hidden-1" style="--hidden-height: 220" class="hide-section__body is-hidden">
              <div uk-grid class="uk-grid-small uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s">
                <div>
                  <a href="#" class="card card--horizontal">
                    <div class="card__image">
                      <div class="card__img">
                        <img src="./decor/1.png" alt="product">
                      </div>
                    </div>
                    <div class="card__body">
                      <div class="card__title">Светильник подвесной металлический в форме купола Campana средний черный
                      </div>
                      <div class="card__info">
                        <div class="price">
                          <span class="price__unit">26 780 ₽</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div>
                  <a href="#" class="card card--horizontal">
                    <div class="card__image">
                      <div class="card__img">
                        <img src="./decor/2.png" alt="product">
                      </div>
                    </div>
                    <div class="card__body">
                      <div class="card__title">Светильник подвесной металлический в форме купола Campana средний черный
                      </div>
                      <div class="card__info">
                        <div class="price">
                          <span class="price__unit">26 780 ₽</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div>
                  <a href="#" class="card card--horizontal">
                    <div class="card__image">
                      <div class="card__img">
                        <img src="./decor/3.png" alt="product">
                      </div>
                    </div>
                    <div class="card__body">
                      <div class="card__title">Светильник подвесной металлический в форме купола Campana средний черный
                      </div>
                      <div class="card__info">
                        <div class="price">
                          <span class="price__unit">26 780 ₽</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div>
                  <a href="#" class="card card--horizontal">
                    <div class="card__image">
                      <div class="card__img">
                        <img src="./decor/4.png" alt="product">
                      </div>
                    </div>
                    <div class="card__body">
                      <div class="card__title">Светильник подвесной металлический в форме купола Campana средний черный
                      </div>
                      <div class="card__info">
                        <div class="price">
                          <span class="price__unit">26 780 ₽</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div>
                  <a href="#" class="card card--horizontal">
                    <div class="card__image">
                      <div class="card__img">
                        <img src="./decor/5.png" alt="product">
                      </div>
                    </div>
                    <div class="card__body">
                      <div class="card__title">Светильник подвесной металлический в форме купола Campana средний черный
                      </div>
                      <div class="card__info">
                        <div class="price">
                          <span class="price__unit">26 780 ₽</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div>
                  <a href="#" class="card card--horizontal">
                    <div class="card__image">
                      <div class="card__img">
                        <img src="./decor/6.png" alt="product">
                      </div>
                    </div>
                    <div class="card__body">
                      <div class="card__title">Светильник подвесной металлический в форме купола Campana средний черный
                      </div>
                      <div class="card__info">
                        <div class="price">
                          <span class="price__unit">26 780 ₽</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div>
                  <a href="#" class="card card--horizontal">
                    <div class="card__image">
                      <div class="card__img">
                        <img src="./decor/7.png" alt="product">
                      </div>
                    </div>
                    <div class="card__body">
                      <div class="card__title">Светильник подвесной металлический в форме купола Campana средний черный
                      </div>
                      <div class="card__info">
                        <div class="price">
                          <span class="price__unit">26 780 ₽</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div>
                  <a href="#" class="card card--horizontal">
                    <div class="card__image">
                      <div class="card__img">
                        <img src="./decor/8.png" alt="product">
                      </div>
                    </div>
                    <div class="card__body">
                      <div class="card__title">Светильник подвесной металлический в форме купола Campana средний черный
                      </div>
                      <div class="card__info">
                        <div class="price">
                          <span class="price__unit">26 780 ₽</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div>
                  <a href="#" class="card card--horizontal">
                    <div class="card__image">
                      <div class="card__img">
                        <img src="./decor/8.png" alt="product">
                      </div>
                    </div>
                    <div class="card__body">
                      <div class="card__title">Светильник подвесной металлический в форме купола Campana средний черный
                      </div>
                      <div class="card__info">
                        <div class="price">
                          <span class="price__unit">26 780 ₽</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="hide-section__btn">
              <button class="hide-section-btn btn-show" uk-toggle="target: #hidden-1; cls: is-hidden">
                <span>Показать еще</span>
                {{mixins.icon('arrow-menu')}}
              </button>
              <button class="hide-section-btn btn-hide" uk-toggle="target: #hidden-1; cls: is-hidden">
                <span>Скрыть</span>
                {{mixins.icon('arrow-menu')}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="uk-section section section--border section--border-bottom section--border-bottom-outside">
      <div class="uk-container section__container">
        <div class="section__header">
          <div class="section__title">
            <h2>Похожие товары</h2>
          </div>
        </div>
        <div class="section__body">
          <p>Slider</p>
        </div>
      </div>
    </section>
    <section class="uk-section section section--white section--border section--border-bottom section--border-bottom-outside">
      <div class="uk-container section__container">
        <div class="section__header">
          <div class="section__title">
            <h2>Создайте свой стиль
              с нашим ассортиментом дизайнерского освещения</h2>
          </div>
        </div>
        <div class="section__body">
          <p>Checkmate</p>
        </div>
      </div>
    </section>
    <section class="uk-section section section--border section--border-bottom section--border-bottom-outside">
      <div class="uk-container section__container">
        <div class="section__header">
          <div class="section__title">
            <h2>Рекомендуемые товары</h2>
          </div>
        </div>
        <div class="section__body">
          <p>Slider</p>
        </div>
      </div>
    </section>
  </div>
</article>
{% include "template/blog.html" %}
{% include "template/footer.html" %}